.bigbox{
    display:flex;
    flex-flow: column;
  
  }
  .head{
    display:flex;
    flex-flow: row;
    justify-content: space-between ;
    background-color: darkgray;  
  }
  .body{
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: end;
  
  }
  .addNew{
    background-color: aquamarine;
  }
  .logout{
    color: black;  
  }
  .logout:hover{
     color: red;
  }
  .contacts{
    display: flex;
    justify-content:space-around;
  }
  .contacts:nth-child(2n+1){
    background-color: gray; 
  }
  .text{
    justify-content: flex-start;
  }
  