.bigbox{
  display:flex;
  flex-flow: column;
  background-color: blanchedalmond;

}
.head{
  display:flex;
  flex-flow: row;
  align-content:space-between ;
  background-color:blue;

}
.body{
  background-color: rgb(145, 111, 60);


}
.addNew{
  background-color: blueviolet;


}
.contacts{
  background-color:brown;


}
